POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=isshues
DATABASE_URL=postgres://<user>:<password>@localhost:5432/isshues

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://<user>:<password>@localhost:5432/isshues
GOOSE_MIGRATION_DIR=./db/migrations
GOOSE_TABLE=public.goose_migrations
